* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.container {
    margin: auto;
    padding: 0;
}

html {
    box-sizing: border-box;
    height: 100%;
}

body {
    font-family: 'Helvetica', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: #655A56;
}

.row {
    margin: 0;
}


/* INPUTS - TOP SECTION */
#inputs {
    padding: 10px 0 0 0px;
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
    min-height: inherit;
    color: #655A56;
    text-align: center;
    background-image: linear-gradient(to left bottom, #11998e, #38ef7d);
    background-size: cover;
    background-repeat: no-repeat;
}

h4.inputs-title {
    padding-top: 10px;
    font-size: medium;
}

#inputs td {
    font-size: 1vw;
    padding: 5px 10px;
    text-align: left;
}


div.col-6 {
    text-align: center;
}

td input[type='number'] {
    width: 70%;
}

div.table-headers {
    padding-top: 5%;
    margin: 0;
    width: 100%;
}

div.col-1 {
    border: 1px solid #655A56;
    text-align: center;
    font-size: 1.2vw;
    padding: 0;
}

#data {

    position: static;
    width: 100%;
    color: #655A56;
    text-align: center;
    background-image: linear-gradient(to left top, #11998e, #38ef7d);
    background-size: cover;
    background-repeat: no-repeat;
}

input[type='number'] {
    width: 100%;
    text-align: center;
    font-size: 1.2vw;
    margin: 0;
    border: 0 0 .3px;
}

input[type='date'] {
    width: 70%;
    text-align: center;
    font-size: 1.2vw;
    margin: 0;
    padding: 0;
}

.input-headers {
    margin: 0;
    padding: 0;
}

div.text-label {
    vertical-align: middle;

}

div.weekNumber {
    font-size: .9vw;
}

.add-week-btn {
    margin: 10px 0px 10px;
    color: #655A56;
    font-weight: 500;
    padding: 15px 30px;
    border-radius: 5px;
    background-color: greenyellow;
    border: 0px;
    box-shadow: 1px 1px 10px black;
    font-size: small;
}

button#reset {
    color: white;
    background-color: red;
    border: none;
}

.input-headers {
    font-size: 1.8vw;
}

@media screen and (max-width: 600px) {
    #inputs td {
        font-size: 8px;
    }

    div.text-label,
    div.col-1 {
        font-size: 7px;
    }

    div.weekNumber {
        font-size: 7px;
    }

    .add-week-btn {
        margin: 10px 0px 10px;
        color: #655A56;
        font-weight: 500;
        padding: 3px 50px;
        border-radius: 5px;
        background-color: greenyellow;
        border: 0px;
        box-shadow: 1px 1px 10px black;
        font-size: small;
    }
    
    .week-num {
        display: none;
    }
    
    div.col-1.table-header {
        font-size: 8px;
    }
    
    input.kg,
    input.kcal {
        font-size: 6px;
    }
}
