* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.container {
    margin: auto;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 100%;
    height: 100%;
}

body {
    font-family: 'Helvetica', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: #655A56;
}

.inputs-wrapper {
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
    padding-bottom: 5px;
}


/* INPUTS - TOP SECTION */
#inputs {
    padding: 10px 0 0 0px;
    font-size: 1vw;
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
    min-height: inherit;
    color: #655A56;
    text-align: center;
    background-image: linear-gradient(to left bottom, #11998e, #38ef7d);
    background-size: cover;
    background-repeat: no-repeat;
}

h4.inputs-title {
    padding-top: 10px;
}

#inputs td {
    padding: 5px 10px;
    text-align: left;
}


#inputs.col-6 {
    text-align: center;
}

td input[type='number'] {
    width: 70%;
}

div.table-headers {
    padding-top: 5%;
    margin: 0;
    width: 100%;
}

div.col-1 {
    border: 1px solid #655A56;
    text-align: center;
    font-size: 1.2vw;
    padding: 0;
}

#data {
    font-size: 1vw;
    position: static;
    /*    padding: 24% 0;*/
    width: 100%;
    color: #655A56;
    text-align: center;
    background-image: linear-gradient(to left top, #11998e, #38ef7d);
    background-size: cover;
    background-repeat: no-repeat;
}

input[type='number'] {
    width: 100%;
    text-align: center;
    font-size: 1.2vw;
    margin: 0;
    padding: 0;
}

.input-headers {
    margin: 0;
    padding: 0;
}

div.text-label {
    vertical-align: middle;
}

div.weekNumber {
    font-size: .9vw;
}

.add-week-btn {
    margin: 10px 0px 10px;
    color: #655A56;
    font-weight: 500;
    padding: 15px 30px;
    border-radius: 5px;
    background-color: greenyellow;
    border: 0px;
    box-shadow: 1px 1px 10px black;
}

button#reset {
    color: white;
    background-color: red;
    border: none;
}
